Repository kota-kamikawa/rc-sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, terraform, actions

store tfstate to s3
  terraform/backend.tf
  terraform/provider.tf
  terraform/s3_backend.tf
  terraform/variables.tf
Labels: terraform

add backend
  backend/.dockerignore
  backend/.gitignore
  backend/.gitkeep
  backend/Dockerfile
  backend/Makefile
  backend/app/main.py
  backend/docker-compose.yml
  backend/requirements.txt
Labels: backend

feat: create iam role for oidc
  terraform/main.tf
  terraform/modules/react_app/oidc_iam.tf
  terraform/modules/react_app/variables.tf
  terraform/variables.tf
Labels: terraform

feat: add cicd
  .github/workflows/frontend_deploy.yml
  frontend/src/routeTree.gen.ts
Labels: frontend, actions

fix
  frontend/src/routeTree.gen.ts
Labels: frontend

fix gha
  .github/workflows/frontend_checks.yml
  .github/workflows/frontend_deploy.yml
Labels: actions

mod
  .github/workflows/frontend_deploy.yml
Labels: actions

fix
  .github/workflows/frontend_checks.yml
Labels: actions

mod
  .github/workflows/frontend_deploy.yml
Labels: actions

gha
  .github/workflows/frontend_checks.yml
  .github/workflows/frontend_deploy.yml
Labels: actions

mod
  .github/workflows/frontend_deploy.yml
Labels: actions

mod
  .github/workflows/frontend_deploy.yml
  frontend/src/main.tsx
Labels: frontend, actions

chore: Remove unused backend files and configurations
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/Makefile
  backend/app/main.py
  backend/docker-compose.yml
  backend/requirements.txt
Labels: backend

fix
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/main.py
  backend/requirements.txt
Labels: backend

chore: Add Docker configuration for backend services
  backend/Makefile
  backend/docker-compose.yml
Labels: backend

chore: Add Docker configuration for backend services
  backend/.gitignore
  backend/Dockerfile
  backend/app/main.py
  backend/app/schemas.py
  backend/docker-compose.yml
  backend/requirements.txt
Labels: backend

.github/labeler.yml:

# branch
"develop":
  - base-branch: 'develop'

"main":
  - base-branch: 'main'

# Language
"frontend":
- changed-files:
  - any-glob-to-any-file: "frontend/**"

"backend":
- changed-files:
  - any-glob-to-any-file: "backend/**"

"terraform":
- changed-files:
  - any-glob-to-any-file: "terraform/**"

"actions":
- changed-files:
  - any-glob-to-any-file: ".github/**"
